html, body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

.header{
    max-width: 500px;
    margin: 50px auto;
    background-color: white;
    text-align: center;
}

.content, .flash-cards, .table{
    max-width: 1200px;
    background-color: white;
    padding: 20px;
    margin: 0 auto;
    align-items: flex-start;
  
}

.content{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;

}

.main-content {
    min-width: 600px;
    padding: 10px;
    margin: 5px;
    flex-direction: row;
    background-color: gold;

}

.sidebar-1 {
    min-width: 250px;
    padding: 10px;
    margin: 5px;
    flex-direction: row;
    background-color: gold;
}

.sidebar-2 {
    min-width: 250px;
    padding: 10px;
    margin: 5px;
    flex-direction: row;
    background-color: gold;
}

.card{
    padding: 25px;
    box-sizing: border-box;
    margin-bottom: 20px;
    
}

.flash-cards {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-1{
    background-color: lightpink;
    width: 250px;
    margin: 10px;
}

.card-2{
    background-color: limegreen;
    width: 250px;
    margin: 10px;
}

.card-3{
    background-color: aqua;
    width: 250px;
    margin: 10px;
}

.table{
    max-width: 850px;
    background-color: antiquewhite;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
}

.main-page{
    background-color: rgb(113, 243, 182);
    padding: 15px;
    width: 500px;
}

.secondary-page{
    height: 200px;
    
}

.section-1{
    background-color: rgb(135, 166, 250);
    width: 200px;
    margin: 10px;
}

.section-2{
    background-color: rgb(105, 129, 197);
    width: 200px;
    margin: 10px;

}

.section-3{
    background-color: rgb(74, 91, 139);
    width: 200px;
    margin: 10px;
}

